div{
  border-style: solid;
  border-width: 0px;
  text-align: center;
  font-size: 23px;
}

.container{
    border-color: slategrey;
}

.row{
    border-color: white;
}

#justin{
    background-color: gray;
    color: gold;
    background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#mony{
    background-color: darkred;
    color: grey;
    background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#tre{
    background-color: black;
    color: orangered;
    background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#home{
    background-color: #e38d13;
    color: green;
    background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

.nav-tabs{
    
}

#a{
    color: blue;
}

#clan{
    background-color: gold;
    color: black;
}

#Demon{
    background-color: royalblue;
    color: goldenrod;
}