div{
    border-style: solid;
    border-width: 0px;
    padding: 3px;
    text-align: center;
    font-size: 20px;
}

.container{
    border-color: slategrey;
}

.row{
    border-color: white;
}

#justin {
    //background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#mony{
    //background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#tre{
    //background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

#home{
    //background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}

.nav-tabs{
    
}

#a{
    
}

#clan{
   
}

#Demon{
    //background-image: url("http://i.ytimg.com/vi/bIcW3kfp5OQ/maxresdefault.jpg");
    background-size: cover;
}